<h1><%= @machine.location %> Vending Machine</h1>
<p>
	<%= (@machine.average_price.to_f / 100)%>
</p>
<% @machine.snacks.each do |snack| %>
<p>
	<%= snack.name %>: $<%= (snack.price.to_f / 100).round(2) %>
</p>
<% end %>
